<div class="navigation">
    <div class="logo">
        <!-- <embed class="logo-header-svg" src="{{ site.baseurl }}/assets/images/logos/logo.svg" type="image/svg+xml"> -->
        <h1 class="logo-title">4D Nucleome Data Coordination and Integration Center</h1>
    </div>

    <div class="navigation-buttons">
	  <ul>
        <li class="home-button">
          <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-text">Home</span></a>
        </li>
        <li class="team-button">
          <a href="{{ site.baseurl }}/team/"><span class="nav-icon"><i class="fa fa-users"></i></span><span class="nav-text">Team</span></a>
        </li>
        <li class="positions-button">
          <a href="{{ site.baseurl }}/positions/"><span class="nav-icon"><i class="fa fa-user-plus"></i></span><span class="nav-text">Positions</span></a>
        </li>
        <li class="data-button">
          <a href="{{ site.baseurl }}/data standards/"><span class="nav-icon"><i class="fa fa-bar-chart"></i></span><span class="nav-text">Data Standards</span></a>
        </li>
        <li class="contact-button">
          <a href="{{ site.baseurl }}/contact/"><span class="nav-icon"><i class="fa fa-comment"></i></span><span class="nav-text">Contact</span></a>
        </li>
     </ul>
    </div>
</div>
