@media print {
    

    // Fonts & Layout

    @page {
        margin-top: 1cm;
        margin-left: 1.25cm;
        margin-right: 1.25cm;
    }
    
    body {
        margin: 0 !important;
        font-size: 9pt;
        > div.wrap {
            max-width: none;
        }
        article.positions-content > h1:first-child{
            display: none;
        }
        header.positions-title > h1 {
            margin: 0;
            font-size: 12pt;
            line-height: 12pt;
        }
    }

    .no-print {
        display: none;
    }

    hr {
        margin: 0.33cm 0 0.25cm !important;
    }




    // Header

    div.navigation {
        height: auto;
        margin-bottom: 0pt !important;

        > .logo {
            h1 {
                margin: 0;
                line-height: 12pt;
                font-size: 12pt;
                font-weight: 400;
            }
        }
        > div.navigation-buttons {
            display: none;
        }
    }

    // Footer

    footer {
        div.footer-content {
            .footer-disclaimer {
                display: none;
            }
        }
    }
    

        

}