---
layout: default
---
<div class="positions">

  <header class="positions-title">
    <h1>{{ page.title | remove: "| 4DN DCIC" }}</h1>
  </header>

  <article class="positions-content">
    {{ content }}

    <h2>Software Developers</h2>
    <ul>
    {% for position in site.positions %}
    {% if position.category == "developer" %}
      <li><a href="{{ site.baseurl }}{{ position.url }}">{{position.title}}</a> ({{position.site}})</li>
    {% endif %}
    {% endfor %} 
    </ul>

    <h2>Data Curators</h2>
    <ul>
    {% for position in site.positions %}
    {% if position.category == "curator" %}
      <li><a href="{{ site.baseurl }}{{ position.url }}">{{position.title}}</a> ({{position.site}})</li>
    {% endif %}
    {% endfor %} 
    </ul>

    <h2>Researchers</h2>
    <ul>
    {% for position in site.positions %}
    {% if position.category == "postdoc" %}
      <li><a href="{{ site.baseurl }}{{ position.url }}">{{position.title}}</a> ({{position.site}})</li>
    {% endif %}
    {% endfor %} 
    </ul>


  </article>

</div>
