---
layout: default
---
<div class="team">

  <header class="team-title">
    <h1>{{ page.title | remove: "| 4DN DCIC" }}</h1>
  </header>

  <h1 id="getting-in-touch-with-us">Getting in Touch With Us</h1>
  
  <p>We are happy to hear your feedback, suggestions, and ideas. You can
  write to us at <a href="mailto:support@4dnucleome.org">support@4dnucleome.org</a>.</p>
    
  <article class="team-content-left">
      <h1>Faculty</h1>

      {% for person in site.persons %}
      {% if person.role == "faculty" %}
      <p>
      <img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{ site.baseurl }}{{ person.image }}">
      <a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a> ({{ person.organization }})<br>{{ person.position }}
      </p>
      {% endif %}
      {% endfor %}

      <h1>Researchers</h1>

      {% for person in site.persons %}
      {% if person.role == "researcher" %}
      <p>
      <img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{ site.baseurl }}{{ person.image }}">
      <a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a> ({{ person.organization }})<br>{{ person.position }}
      </p>
      {% endif %}
  {% endfor %}
  </article>

  <article class="team-content-right">

      <h1>Staff</h1>

      {% for person in site.persons %}
      {% if person.role == "staff" %}
      <p>
      <img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{ site.baseurl }}{{ person.image }}">
      <a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a> ({{ person.organization }})<br>{{ person.position }}
      </p>
      {% endif %}
      {% endfor %}

      <h1>Alumni</h1>

      {% for person in site.persons %}
      {% if person.role == "alumni" %}
      <p>
      <img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{ site.baseurl }}{{ person.image }}">
      <a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a> ({{ person.organization }})<br>{{ person.position }}
      </p>
      {% endif %}
      {% endfor %}
  </article>


</div>
